#title {
    letter-spacing: 3px;
    margin-top: 105px;
    margin-bottom: 20px;
}

.volunteer {
    width: 300px;
    height: 300px;
    padding: 10px;
    overflow: hidden;
  }
  
.volunteerImageContainer {
    position: relative;
}
  
.volunteerImage {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
}
  
.volunteerName {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    letter-spacing: 3px;
}
  
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
  
.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
  
.modal.show {
    display: block;
}
  
.modalImage {
    width: 100%;
    height: 50vh;
    border-radius: 5px;
    margin-bottom: 10px;
}
  
button {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    align-self: center;
  }
  
button:hover {
    background-color: #0056b3;
}

.volunteerWrapper {
    max-width: 1500px;
    margin: 0;
    padding: 20px;
    display: flex;
}

.volunteerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.filterWrapper {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* flex: 0 0 20%; */
    margin-right: 150px;
    text-align: left;
}

.selectWrapper {
    margin-bottom: 10px;
}
  
.selectWrapper select {
    width: 200px;
    padding: 8px;
    border-radius: 5px;
}
  
.checkboxWrapper {
    margin-bottom: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterWrapper select,
.filterWrapper input[type="checkbox"] {
  margin-bottom: 10px; 
}

.filterWrapper input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #007bff;
    border-radius: 5px;;
    outline: none;
    cursor: pointer;
    vertical-align: -10px;
    margin-right: 15px;
    transition: border-color 0.3s ease;
}

.filterWrapper input[type="checkbox"]:hover {
    font-weight: bolder;
    border: 2px solid red;
}

.filterWrapper input[type="checkbox"]:checked {
    background-color: #0056b3;
    border: 2px solid #007bff;
}
.filterWrapper label {
    cursor: pointer;
}

#search {
    width: 30%; 
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f4f9f9;
    color: #333;
}

@media (max-width: 1200px) {
    .volunteerWrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .filterWrapper {
      margin-right: 0;
    }
  
    .volunteerContainer {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}